@import "../tokens/colors.scss";

.suma-btn{
    border: none;
    padding: 5px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: .8s;
    &:active{
        box-shadow: none;
    }
    &-primary {
        @extend .suma-btn;
        color: $text_primary;
        background-color: $white_normal;

        &:hover{
            background-color: $brand_primary_scale_03;
        }
    }
    &-secondary {
        @extend .suma-btn;
        color: $white_normal;
        background-color: $brand_primary_scale_04;

        &:hover{
            background-color: $brand_primary_scale_06;
        }
    }

}
